## exports

export(E.Somega, E.S, Var.S, hubb2vect, hubbell, landgame, makeland,
       mutate, rbstick, rhubbell, wtheta.fun, brokenstick, rad.lines,
       hubbell.build)

## import
importFrom("grDevices", "col2rgb", "palette", "rainbow", "rgb")
importFrom("graphics", "box", "layout", "legend", "lines", "mtext",
           "par", "points", "plot")
importFrom("stats", "dpois", "fitted", "lm", "nlm", "ppoints", "qnorm",
           "rbinom", "runif", "sd")

S3method(as.matrix, landscape)
S3method(plot, hubbell)
S3method(plot, landscape)
S3method(print, hubbell)
S3method(print, landscape)
